:root{
  --app-bg-dark: #223342;
  --app-white: #ffffff;
  --app-red: #ff3c57;
  --app-green: #33ab4e;
  --app-blue: #3c57ff;
  --app-purple: #833cff;
  --app-orange: #ff833c;
}

body{
  background-color: var(--app-white);
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
}
li {
  list-style: none;
}
/*For sticky nav*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


/*Nav Bar*/
.container{
  height: 60px;
  width: 100%;
  background-color: rgb(65, 70, 213);
  overflow: hidden;
}
.topnav {
  height: 48px;
  margin-left: auto;
  margin: auto;
  width: 75%;
}
.topnav a {
  float: left;
  color: #0d0808;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 25px;
}
.separate-nav a{
  font-size: 25px;
  float: right;
  font-weight: bold;
}

/*Hero Banner*/
img{
  width: 100%;
  height: 100%;
}

.hero-image{
  position: relative;
  text-align: center;
  height: 40em;
}

.hero-text{
  margin-top: 10em;
  width: 80%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}
.centered {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 4px;
}

/*about page*/
.about {
  height: 60em;
  background: rgb(21,21,21);
  background: linear-gradient(0deg, rgba(21,21,21,1) 0%, rgba(57,57,57,1) 55%, rgba(74,74,74,1) 100%);
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about div{
  margin: 5rem;
  height: 20em;
  width: 20em;
}

.about-text {
  padding:15px;
  background-color: #ffffff;
  border-radius: 2px;
}

.rotate {
  animation: rotation 15s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*Contact page*/
.contact{
  padding: 0%;
  background: rgb(32,34,0);
  background: linear-gradient(90deg, rgba(32,34,0,1) 0%, rgba(0,23,34,1) 100%);
  height: 50rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.contact-text{
  background-color: #ffffff;
  border-radius: 1rem;
  width: 60%;
  height: 40%;
  text-align: center;
  font-size: 30px;
}

.socials img{
  margin: 15px;
  height: 40px;
  width: 40px;
}

